src/main/resources/wsdl/MsiService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="MsiService" targetNamespace="http://message.webservice.core.msiedit.frv.dk/"
                  xmlns:ns1="http://message.webservice.core.msiedit.frv.dk/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema targetNamespace="http://message.webservice.core.msiedit.frv.dk/" version="1.0"
                   xmlns:tns="http://message.webservice.core.msiedit.frv.dk/"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType abstract="true" name="abstractCollection">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractList">
                <xs:complexContent>
                    <xs:extension base="tns:abstractCollection">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="arrayList">
                <xs:complexContent>
                    <xs:extension base="tns:abstractList">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="msiDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="areaEnglish" type="xs:string"/>
                    <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="deleted" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="encText" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="locationType" type="xs:string"/>
                    <xs:element minOccurs="0" name="messageId" type="xs:int"/>
                    <xs:element minOccurs="0" name="navWarning" type="xs:string"/>
                    <xs:element minOccurs="0" name="navtex" type="xs:string"/>
                    <xs:element minOccurs="0" name="navtexNo" type="xs:string"/>
                    <xs:element minOccurs="0" name="organisation" type="xs:string"/>
                    <xs:element minOccurs="0" name="points">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="point" type="tns:pointDto"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="priority" type="xs:string"/>
                    <xs:element minOccurs="0" name="subarea" type="xs:string"/>
                    <xs:element minOccurs="0" name="updated" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="username" type="xs:string"/>
                    <xs:element minOccurs="0" name="validFrom" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="validTo" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="version" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="pointDto">
                <xs:sequence>
                    <xs:element name="latitude" type="xs:double"/>
                    <xs:element name="longitude" type="xs:double"/>
                    <xs:element name="ptno" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="msiDtoLight">
                <xs:sequence>
                    <xs:element minOccurs="0" name="created" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="ENCtext" type="xs:string"/>
                    <xs:element minOccurs="0" name="latitude" type="xs:string"/>
                    <xs:element minOccurs="0" name="text" type="xs:string"/>
                    <xs:element minOccurs="0" name="longitude" type="xs:string"/>
                    <xs:element minOccurs="0" name="mainArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="subArea" type="xs:string"/>
                    <xs:element minOccurs="0" name="updated" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="msiDtoArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:msiDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="msiDtoLightArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:msiDtoLight"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getActiveWarningCountry">
        <wsdl:part name="arg0" type="xsd:string">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWarningAfterIdResponse">
        <wsdl:part name="return" type="ns1:msiDtoArray">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWarningAfterId">
        <wsdl:part name="arg0" type="xsd:int">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveWarning">
    </wsdl:message>
    <wsdl:message name="getActiveWarningResponse">
        <wsdl:part name="return" type="ns1:msiDtoLightArray">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getActiveWarningCountryResponse">
        <wsdl:part name="return" type="ns1:msiDtoArray">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MsiService">
        <wsdl:operation name="getActiveWarningCountry">
            <wsdl:input message="ns1:getActiveWarningCountry" name="getActiveWarningCountry">
            </wsdl:input>
            <wsdl:output message="ns1:getActiveWarningCountryResponse" name="getActiveWarningCountryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveWarning">
            <wsdl:input message="ns1:getActiveWarning" name="getActiveWarning">
            </wsdl:input>
            <wsdl:output message="ns1:getActiveWarningResponse" name="getActiveWarningResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWarningAfterId">
            <wsdl:input message="ns1:getWarningAfterId" name="getWarningAfterId">
            </wsdl:input>
            <wsdl:output message="ns1:getWarningAfterIdResponse" name="getWarningAfterIdResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>